
/** by default hide the modal */
#pModalContainer {
	display: none;
}

/* then show it */
body.has-modal #pModalContainer {
	display:block;
}

#pModalContainer {
	position: fixed;
	padding: 10px 10px 10px 10px;
	top: 0px;
	left:0px;
	width: 100%;
	height: 100%;
	background-color: rgba(35,47,62,0.7);
}

.inline #pModalContainer {
	background-color: transparent;
}

.modal {
	height: auto;
	max-height: 60%;
	width: auto;
	top: 20%;
	left: 17%;
	right: 22%;
	padding: 20px;
	overflow: scroll;
	overflow-x: hidden;
	position: absolute !important;
	background-color: white;
	border: 1px solid black;
	/*white-space: pre;*/
	border-radius: 3px;
}

.inline .modal {
	max-width: 200px;
    max-height: 200px;
    overflow: hidden;
    left: 800px;
    position: absolute;
}
#my-modal::-webkit-scrollbar {
	width: 20px;
}
#my-modal::-webkit-scrollbar-track {
	box-shadow: inset 0 0 3px grey;
	border-radius: 3px;
}
#my-modal::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background: #232f3e;
}
#my-modal::-webkit-scrollbar-thumb:hover {
	background: #232f3e;
}
#close-button{
	border-radius: 50px;
    display: block;
    margin: auto;
    margin-top: 10px;
}