
.note-container{
	border-top: 1px solid rgba(0,0,0,0.1);
	border-left: 1px solid rgba(0,0,0,0.2);
	border-right: 1px solid rgba(0,0,0,0.3);
	border-bottom: 1px solid rgba(0,0,0,0.3);
	background-color: yellow;
	padding: 10px;
	border-radius: 3px;
	display: inline-block;
	min-width: 250px;
	max-width: 45%;
}

label.note-created {
	display:none;
}	

.note-container .editable{
	cursor: pointer;
	padding:3px;
}

.editable {
	border:1px solid transparent;
	width:100%;
}

.editable:hover{
	border:1px solid rgba(0,0,0,0.1);
}

input.editable:hover,
textarea.editable:hover {
	cursor:text;
}

.note-container .note-title{
	font-size: 1.17em;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

.note-container .note-title,
.note-container .note-body {
	margin:0px;
}

.note-container label {
	display:none;
}

.note-container .note-body{
	font-size: 13.5px;
	line-height: 24px;
}

.note-container .note-created {
	font-size:11.5px;
	margin-left:-5px;
}

.note-container .form-item-created {
	margin:0px;
}